.wrapper {
    display: flex;
    padding: 20px;
    border: solid 3px rgb(255, 153, 0);
    margin: 10px 0;
    height: 505px;
}
.dialogsItems {
    margin-right: 70px;
}
.dialog {
    margin-bottom: 10px;
}
.dialog.active a {
    color: rgb(255, 153, 0);
}

