.burger {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 90;
  position: relative;
}

.burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: white;
  top: 8px;
  left: 5px;
  transition: 0.7s;
}

.burger span {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: white;
  top: 16px;
  left: 5px;
}

.burger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: white;
  top: 24px;
  left: 5px;
  transition: 0.7s;
}

.burger.active::after {
  transform: rotate(43deg);
  top: 17px;
  transition: 0.7s;
}

.burger.active span {
  display: none;
}

.burger.active::before {
  transform: rotate(-43deg);
  top: 17px;
  transition: 0.7s;
}

/* media */

@media screen and (max-width: 850px) {
  .burger {
    display: block;
  }
}
