.users {
    border: solid 2px rgb(16, 235, 16);
    margin-top: 20px;
    padding: 15px;
}
.title {
    font-size: 35px;
    margin-bottom: 40px;
}
.dots {
    display: flex;
    width: 140px;
    overflow-x: scroll;
    justify-content: space-between;
    padding: 0 10px;
}
.item {
    list-style-type: none;
    font-size: 23px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 20px;
}
.item.active, .item:hover {
    color: red;
    border-bottom: 1px red solid;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 10%;
    margin-right: 20px;
}
.user img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.follow {
    background: rgb(16, 235, 16);
    padding: 10px 20px;
    color: white;
    border: solid 1px rgb(16, 235, 16);
    cursor: pointer;
}
.unfollow {
    background: rgb(16, 235, 16);
    padding: 10px 20px;
    color: white;
    border: solid 1px rgb(16, 235, 16);
    cursor: pointer;
}
.follow:hover, .unfollow:hover {
    transition: 0.7s;
    background: rgb(3, 151, 3);
}
.follow:disabled, .unfollow:disabled {
    background: rgb(0, 90, 0);
    color: #ccc;
}
.description {
    border: solid 2px #ccc;
    flex: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 20px;
    align-items: center;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name {
    font-size: 22px;
    font-weight: 700;
}
.status {
    color: red;
    font-weight: 800;
}
.location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.country {
    font-size: 18px;
}
.city {
    font-size: 18px;
}