.posts {
    margin: 30px 0;
    border-right: solid 2px rgb(255, 153, 0);
    border-left: solid 2px rgb(255, 153, 0);
    padding: 10px;
}

.wrapper {
    margin-bottom: 50px;
}

.field {
    font-size: 23px;
    width: 80%;
    border: solid 2px rgb(255, 153, 0);
    padding: 5px 10px;
}

.field:focus {
    background-color: rgb(252, 209, 144);
}

.btn {
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
    position: relative;
    top: -2px;
    border: solid 2px rgb(255, 153, 0);
    color: white;
    background:  rgb(255, 153, 0);
}

.btn:hover {
    background: rgb(253, 186, 84);
    border: solid 2px rgb(253, 186, 84);
}

@media screen and (max-width: 760px){

    .field {
        width: 75%;
    }
}

@media screen and (max-width: 625px){

    .field {
        width: 95%;
    }

    .btn {
        margin-top: 10px;
    }
}