.header {
  background: rgb(16, 235, 16);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.login a {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.login a:hover {
  border-bottom: solid 2px white;
}
.logo p {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
.name {
  color: white;
  font-size: 20px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 70;
  background: rgba(26, 26, 26, 0.7);
  cursor: pointer;
  display: none;
}
.popup.active {
  display: block;
}
