.info {
    margin-bottom: 80px;
}
.info img {
    width: 250px;
    height: 250px;
}
.description, .field {
    display: none;
    font-size: 18px;
}
.active {
    display: block;
}
.field {
    padding: 5px;
}
.description {
    cursor: pointer;
    transition: 0.6s;
    border: solid 1px #ccc;
    padding: 5px;
}
.description:hover {
    transition: 0.6s;
    
}