.post {
    align-items: center;
    list-style-type: none;
    border: solid 1px  rgb(255, 153, 0);
    margin-bottom: 15px;
    padding: 5px 10px;
}

.post img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

