.list {
  display: flex;
}

.item {
  margin-left: 20px;
  list-style-type: none;
  cursor: pointer;
  transition: 0.5s;
  padding: 5px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 5px;
  font-weight: 600;
  transition: 0.5s;
}

.item:hover {
  background: white;
}

.item:hover .link {
  color: rgb(16, 235, 16);
  border: none;
}

.link.active {
  border-bottom: solid 2px white;
  padding-bottom: 5px;
}

.menu.open_menu {
  right: 0;
  transition: 0.7s;
}

/* media */

@media screen and (max-width: 850px) {
  .burger {
    display: block;
  }
  .menu {
    position: fixed;
    background: rgb(16, 235, 16);
    width: 300px;
    height: 100%;
    top: 0;
    right: -320px;
    z-index: 80;
    text-align: center;
    transition: 0.7s;
    border-left: 3px solid rgb(26, 187, 26);
  }
  .list {
    flex-direction: column;
    padding: 10px;
    margin-top: 70px;
    transition: 0.5s;
  }
  .item {
    margin-bottom: 40px;
    transition: 0.5s;
  }
}
